<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration file for the connection pool to Rserve processes -->
<RConnectionPool xsi:noNamespaceSchemaLocation="RConnectionPool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- default Rserve process running on localhost -->
    <RServer host="localhost"/>

    <!-- Rserve process on localhost port 6312 -->
<!--
    <RServer host="127.0.0.1" port="6312"/>
-->

    <!-- Rserve process on foobar port 1234 with authentication -->
<!--
    <RServer host="foobar.med.cornell.edu" port="1234" username="me" password="mypassword"/>
-->

    <!-- Rserve process on windows with command to startup in debug mode-->
<!--
    <RServer host="localhost" command="C:\\Program\ Files\\R\\R-2.6.0\\library\\Rserve\\Rserve_d.exe"/>
-->

    <!-- Rserve process on 64 bit unix command to startup in normal mode-->
<!--
	<RServer host="localhost" command="/softlib/exe/x86_64/pkg/R/2.6.1/gcc_64/lib64/R/bin/R CMD ~/R/x86_64-unknown-linux-gnu-library/2.6/Rserve/libs/Rserve-bin.so --no-save"/>
-->

    <!-- Rserve process on 64 bit unix command to startup in debug mode-->
<!--
	<RServer host="localhost" command="/softlib/exe/x86_64/pkg/R/2.6.1/gcc_64/lib64/R/bin/R CMD ~/R/x86_64-unknown-linux-gnu-library/2.6/Rserve/libs/Rserve-dbg.so --no-save"/>
-->
</RConnectionPool>
